.card-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
.card-inner {
  margin-top: 15px;
}

.title-home {
  text-align: center;
}

.heading-home {
  text-align: center;
}
