.title {
  text-align: center;
  color: #1727ae;
}

nav {
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: #2c43b8;
}

.heading {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button {
  text-align: center;
}

input {
  width: 55vw;
  height: 5vh;
  margin: 2%;
}
